<div class="main groups-index">
  <div class="container">
    <h1 class="groups-heading">グループ一覧</h1>
    <%= link_to("グループ作成", "/groups/new")%>
    <% @groups.each do |group| %>
      <div class="groups-index-item">
  
        <div class="group-right">
          <%= link_to(group.group_name, "/groups/#{group.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
