header {
  height: 64px;
  /*position: absolute;*/
  z-index: 1;
  width: 100%;
  background-color: #ff3300;
}

li {
  /*float: right;
  display: inline-block; 
  vertical-align: top;*/
  display: inline-block;

}

a {
  margin-right: 20px;
  /*position: absolute;
  top: 0;
  right: 0;*/
}