/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*.container {
  margin: 0 350px;
}*/

@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


body{
  margin:0;
  background-color: #fafafa;
  font-family: "Noto Sans Japanese", sans-serif;
}

header {
  height: 64px;
  /*position: absolute;*/
  z-index: 1;
  width: 100%;
  background-color: #db4c3f;

}

 header a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

li {
  /*float: right;*/
  display: inline-block; 
  vertical-align: top;

}

.header-inner {
  width: 980px;
  margin: 0 auto;
}

.header-logo {
  float: left;
  margin-top: 1em;
}

.header-menus {
  float: right;
}

.create-groups a {
  display: block;
  margin-right: 20px;
  color: black;
  text-decoration: none;
  margin-top: 40px;
  /*position: absolute;
  top: 0;
  right: 0;*/
}

a:hover {
  cursor: pointer;
}

















